body{
    background: linear-gradient(90deg, hsla(189, 86%, 64%, 1) 0%, hsla(277, 67%, 77%, 1) 50%, hsla(218, 88%, 59%, 1) 100%);
}
h1{
    background: linear-gradient(90deg, hsla(57, 100%, 84%, 1) 0%, hsla(280, 84%, 55%, 1) 100%);
    border: black solid;
    border-radius: 30px;
    background: linear-gradient(90deg, hsla(113, 96%, 81%, 1) 0%, hsla(188, 90%, 51%, 1) 100%);
    width: 200px;
    margin-left: 40%;
}
.head{
    background: linear-gradient(90deg, hsla(307, 93%, 84%, 1) 0%, hsla(256, 96%, 44%, 1) 100%);
    border: black solid;
    border-radius: 30px;
    margin: 10px;
}
h4{
    margin-bottom:5px;
}
h5{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.5rem;
}
.stats{
    background: linear-gradient(90deg, hsla(57, 100%, 84%, 1) 0%, hsla(280, 84%, 55%, 1) 100%);
    border: 3px black solid;
    height: 350px;
    border-radius: 30px;
}
#alert{
    margin-top: 10px;
}
#button{
    margin-top:10px;

}
#add{
    padding: 10px;
    border:black solid;
    border-radius: 10px;
}
#button :hover{
    cursor: pointer;
}
 
rect:hover{
    cursor: pointer;
    fill:violet;
    stroke: black;
}
.form{
    width: 500px;
    padding: 6px;
    margin-top: 70px;
}
input{
    width: 100%;
    padding: 6%;
    outline: none;
    border: none;
    margin: 6px 0 ;
}
#btn{
    border: black;
    border-radius: 20px;
    width: 70px;
    height:50px;
}
#btn:hover{
    background-color: lightgray;
    cursor: pointer;
}
 